---

---

<span
	class="inline-flex items-center justify-center rounded-full bg-emerald-100 px-2.5 py-0.5 text-emerald-700"
>
	<p class="text-sm whitespace-nowrap">Developer</p>
</span>

<span
	class="inline-flex items-center justify-center rounded-full bg-amber-100 px-2.5 py-0.5 text-amber-700"
>
	<p class="text-sm whitespace-nowrap">Photographer</p>
</span>
