---

---

<div class="flex flex-row flex-wrap gap-2 justify-end">
	<span
		class="inline-flex items-center justify-center rounded-full bg-violet-100 px-2.5 py-0.5 text-violet-700"
	>
		<p class="text-sm whitespace-nowrap">Web Development</p>
	</span>

	<span
		class="inline-flex items-center justify-center rounded-full bg-emerald-100 px-2.5 py-0.5 text-emerald-700"
	>
		<p class="text-sm whitespace-nowrap">Web Design</p>
	</span>

	<span
		class="inline-flex items-center justify-center rounded-full bg-amber-100 px-2.5 py-0.5 text-amber-700"
	>
		<p class="text-sm whitespace-nowrap">Consulting</p>
	</span>

	<span
		class="inline-flex items-center justify-center rounded-full bg-rose-100 px-2.5 py-0.5 text-rose-700"
	>
		<p class="text-sm whitespace-nowrap">Creative Tech</p>
	</span>
</div>
