@import "tailwindcss";

* {
	letter-spacing: -0.03em;
}

html,
body {
	overflow-x: hidden;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

img,
video,
canvas,
svg {
	max-width: 100%;
	height: auto;
}
